body {color:black; font-family:'Roboto';}
.w3-bar,h6,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}

div.at-container1 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.at-item1 {
  color: black;
  animation-name: angry-animation;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
}
@keyframes angry-animation {
  0%{
    opacity: 1;
  }
  25%{
    opacity: 0;
  }
  50%{
    opacity: 1;
  }
  75%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}